# Application Provider's Credentials
AP_ID=mid://dev.swisscom.ch                       # AP_ID used to identify to Mobile ID (provided by Swisscom)
AP_PWD=disabled                                   # AP Password must be present but is not validated.

# SSL Client Authentication ($PWD is refering to the location of the script itself)
CERT_FILE=$PWD/certs/mycert.crt                   # Client certificate for the HTTPS/SSL authentication
CERT_KEY=$PWD/certs/mycert.key                    # Client private key file that is related to the client certificate

# Service identification
AP_PREFIX="myserver.com"                          # AP prefix that will be added to the message sent to the mobile

# Swisscom SDCS elements
CERT_CA_SSL=$PWD/certs/mobileid-ca-ssl.crt        # Root CA certificate for the HTTPS/SSL server validation
CERT_CA_MID=$PWD/certs/mobileid-ca-signature.crt  # Root CA and intermediate CA certificates to validate the MID Signature's user certificate

# Additional cURL options, e.g. if you want to use HTTP proxy (refer to man curl)
# --proxy <[protocol://][user@password]proxyhost[:port]>
CURL_OPTIONS="--silent"

# Unique Mobile ID (SN of DN) verification
#  ifset: the verification will only be done if a value has been provided to the module
#  required: the verification is mandatory and a value must be provided to the module
#  ignore: there will be no verification done
UNIQUEID_CHECK=ifset

# Logging (Silent=0, Info=1, Error=2, Debug=3)
VERBOSITY=2

# Swisscom BASE URL
BASE_URL=https://mobileid.swisscom.com
