# Set default language to English
DEFAULT X-MSS-Language := en
        Fall-Through = Yes

# Configuration for specific users
#  user with specific mobile number and no password validation at all
#   "user1"      Called-Station-Id := +41791234567

#  user with specific mobile number, password and language
#   "user2"      Cleartext-Password := "pwduser", Called-Station-Id := +41791234567, X-MSS-Language := de

#  user with specific mobile number, password and serialnumber in the DN as security element
#   "user3"      Cleartext-Password := "pwduser", Called-Station-Id := +41791234567, X-MSS-MobileID-SN := MIDCHEGU8GSH6K83

#  user with specific mobile number, encrypted password and serialnumber in the DN as security element
#   "user3"      Crypt-Password := "saV9ejDMWuP92", Called-Station-Id := +41791234567, X-MSS-MobileID-SN := MIDCHEGU8GSH6K83
